html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(106, 138, 105);
    background-color: rgb(9, 17, 10);
}
.header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.video{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}
.profile-photo-container {
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    top: 25%;
    right: 30px;
    width: 65px;
    height: 65px; 
}
img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}
.header-headlines-container {
    box-sizing: border-box;
    position: relative;
    margin: auto auto 3% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.h1-header {
    box-sizing: border-box;
    position: relative;
    margin: auto auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    color: rgb(106, 138, 105);
    
}
.h2-header {
    box-sizing: border-box;
    position: relative;
    margin: auto auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70%;
    color: rgb(106, 138, 105);
}
main {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
section {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% auto 5% 5%;
}
ul {
    box-sizing: border-box;
    margin: auto auto auto 1%;
}
ol {
    box-sizing: border-box;
    margin: auto auto auto 1%;
}
footer {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: rgb(4, 29, 8);
}
.footer-p {
    box-sizing: border-box;
    position: absolute;
    margin: 25px 200px;
}